{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block
main %}

<h1 class="mb-5 text-center">Create account</h1>

<form action="/register" method="post">
  <div class="mb-2 col-3">
    <input
      autocomplete="off"
      autofocus
      class="input form-control mx-auto"
      name="username"
      placeholder="Username"
      type="text"
    />
  </div>

  <div class="mb-2 col-3">
    <input
      autocomplete="off"
      class="input form-control mx-auto"
      name="password"
      placeholder="Password"
      type="password"
    />
  </div>

  <div class="mb-3 col-3">
    <input
      autocomplete="off"
      class="input form-control mx-auto"
      name="confirmation"
      placeholder="Confirm password"
      type="password"
    />
  </div>

  <button class="btn btn-primary col-3" type="submit">Register</button>
</form>

{% endblock %}
